@import "variables";
@import "animations";

.hamburger-trigger {
  background: none;
  border: 0;
  font-size: 10px;
  width: auto;
  padding: $hamburger-icon-line-height * 3 + $hamburger-icon-line-spacing * 2 + $hamburger-icon-bottom-margin 0 0;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &__icon {
    &,
    &:before,
    &:after {
      background-color: $hamburger-icon-line-colour;
      height: $hamburger-icon-line-height;
      position: absolute;
      left: 0;
      width: 100%;
    }

    &:before {
      content: "";
      top: ($hamburger-icon-line-height + $hamburger-icon-line-spacing) * -1;
      animation-fill-mode: both;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      will-change: transform;

      .open & {
        animation-name: first-line-animation;
      }

      .closed & {
        animation-name: first-line-animation-reverse;
      }
    }

    & {
      top: $hamburger-icon-line-height + $hamburger-icon-line-spacing;
      transition: background-color 0.045s 0.225s;

      .open & {
        transition: background-color 0.225s 0.045s;
        background-color: transparent;
      }
    }

    &:after {
      content: "";
      top: $hamburger-icon-line-height + $hamburger-icon-line-spacing;
      animation-fill-mode: both;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      will-change: transform;

      .open & {
        animation-name: third-line-animation;
      }

      .closed & {
        animation-name: third-line-animation-reverse;
      }
    }
  }
}
